<?xml version='1.0' encoding='utf-8'?>
<widget id="com.diego.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>App_Giri</name>
    <description>App di raccolta dati per i giri seminotte</description>
    <author email="tuo_email@example.com" href="http://example.com/">Diego</author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <platform name="android">
        <!-- Plugin necessario -->
        <plugin name="cordova-plugin-file" spec="^7.0.0" />
    </platform>
</widget>
